/*:root {
  --text-color-primary: #000;
  --text-color-secondary: #333;
}

color: var(--text-color-secondary);
*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"),
  url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans"),
  url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000;
  background-color: #f2f2f2;
}

/*для удобства отображения скрытых элементов*/
.visually-hidden {
  color: tomato;
  font-size: 12px;
}

.select {
  -webkit-appearance: none;
  font-family: inherit;
  cursor: pointer;
}

/*все кнопки*/
.button {
  font-family: inherit;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  padding: 12px 15px;
  cursor: pointer;
}

.button.button-primary {
  background-color: #756157;
}

.button.button-secondary {
  background-color: #82B3D3;
}

.button.button-inactive {
  background-color: #F2F2F2;
  cursor: default;
}

.button.button-selected {
  background-color: #7DB54F;
}

.button.button-subscribe,
.button.button-search,
.button.button-pagination {
  font-size: 20px;
  line-height: 36px;
}

.button.button-subscribe {
  min-width: 170px;
  border-radius: 0 10px 10px 0;
}

.button.button-search {
  min-width: 544px;
}

.button.button-submit {
  min-width: 130px;
  padding: 14px 15px;
}

.button.button-reset {
  background-color: transparent;
  font-weight: 400;
  text-transform: inherit;
}

/*body*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.navigation {
  display: flex;
  box-sizing: border-box;
}

.navigation .logo {
  /*width: 139px; - уже задано в параметрах самого изображения? */
  margin-right: 47px;
  margin-left: 70px;
}

.navigation-list {
  width: 430px;
  margin: 0;
  padding: 0;
}

.navigation-item {
  list-style: none;
  text-align: center;
  vertical-align: middle;
}

.navigation-actions {
  max-width: 210px;
  margin-left: auto;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  color: inherit;
  text-decoration: none;
  display: block;
}

.main-container {
  flex-grow: 1;
}

.welcome {
  background-image: url("../images/background-welcome.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #2b4049;
  text-align: center;
}

.welcome::after {
  content: "";
  background-image: url("../images/devider-welcome.svg");
  background-repeat: no-repeat;
  display: block;
  height: 57px;
}

.advantages-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
}

.advantages-suggest {
  color: #333;
  text-align: center;
  vertical-align: middle;
}

.advantages-list,
.advantages-list-inserted {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item {
  list-style: none;
  vertical-align: middle;
  width: 400px;
  min-height: 384px;
}

.advantages-item .town-description {
  width: 400px;
}

.advantages-item .bridge-description {
  width: 400px;
  margin-right: 0;
  margin-left: auto;
}

.advantages-item .advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item .advantages-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item .advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.advantages-item .advantages-list-inserted {
  background-color: #fff;
}

.advantages-item.background-primary {
  background-color: rgba(131, 179, 211);
  color: #fff;
}

.advantages-item.background-primary .advantages-description {
  color: #fff;
}

.advantages-item.background-secondary {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000;
}

.advantages-item.background-secondary .advantages-description {
  color: #333;
}

.advantages-item.background-tertiary {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000;
}

.advantages-item.background-tertiary .advantages-description {
  color: #333;
}

.advantages-item.background-base {
  background-color: #fff;
  color: #000;
}

.advantages-item.background-base .advantages-description {
  color: #333;
}

.advantages-item.advantages-town {
  background-image: url("../images/real-town.jpg");
  background-repeat: no-repeat;
  background-position: 400px 0;
  width: 100%;
  min-height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advantages-list-inserted .advantages-item {
  box-sizing: border-box;
  padding: 80px 85px 81px;
}

.advantages-list-inserted .advantages-item::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 75px;
  height: 72px;
  margin: 0 auto;
}

.advantages-list-inserted .advantages-item.advantages-accommodation::before {
  background-image: url("../images/icons/accommodation.svg");
}

.advantages-list-inserted .advantages-item.advantages-food::before {
  background-image: url("../images/icons/food.svg");
}

.advantages-list-inserted .advantages-item.advantages-souvenirs::before {
  background-image: url("../images/icons/souvenirs.svg");
}

.advantages-item.advantages-bridge {
  background-image: url("../images/devil-bridge.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

.search {
  text-align: center;
}

.search .search-interest {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search .search-offer {
  color: #333;
}

.subscription {
  text-align: center;
}

.subscription .subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription .subscription-promise {
  color: #333;
}

.subscription.subscription-with-background {
  background-image: url("../images/background-subscription.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #7cabab;
  color: #fff;
}

.subscription.subscription-with-background .subscription-promise {
  color: #fff;
}

.page-footer-container {
  display: flex;
}

.page-footer .footer-social {
  width: 180px;
  margin-right: auto;
}

.page-footer .footer-social-item {
  list-style: none;
  text-align: left;
  vertical-align: middle;
  text-decoration: none;
}

.footer-social-item.footer-social-item-vk {
  background-image: url("../images/icons/social/vk.svg");
  background-repeat: no-repeat;
}

.footer-social-item.footer-social-item-telegram {
  background-image: url("../images/icons/social/telegram.svg");
  background-repeat: no-repeat;
}

.footer-social-item.footer-social-item-youtube {
  background-image: url("../images/icons/social/youtube.svg");
  background-repeat: no-repeat;
}

.page-footer .footer-contacts-address {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.page-footer .contacts-phone {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.page-footer .footer-copyright {
  margin-left: auto;
}

/* CATalog */
.title-and-filters {
  background-image: url("../images/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: #7cabab;
  color: #fff;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs .breadcrumbs-item {
  list-style: none;
  vertical-align: middle;
}

.breadcrumbs .breadcrumbs-link {
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs .breadcrumbs-link-home {
  background-image: url("../images/icons/home.svg");
  background-repeat: no-repeat;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.catalog-filter .catalog-filter-list {
  list-style: none;
}

.catalog-filter .catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
}

.catalog-filter .catalog-filter-item {
  font-size: 18px;
  line-height: 21px;
}

.main-catalog {
  padding-left: 73px;
  padding-right: 71px;
}

.catalog-specify {
  display: flex;
  justify-content: space-between;
}

.catalog-specify .catalog-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-specify .catalog-filter-specify {
  display: flex;
  /*justify-content: flex-end;*/
}

.catalog-filter-specify-group .select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/*.catalog-demonstration {*/
/*  display: flex;*/
/*  justify-content: flex-end;*/
/*}*/

.catalog-demonstration .view-type.view-type-cards {
  background-image: url("../images/icons/view-cards.svg");
  background-repeat: no-repeat;
}

.catalog-demonstration .view-type.view-type-big-cards {
  background-image: url("../images/icons/view-big-cards.svg");
  background-repeat: no-repeat;
}

.catalog-demonstration .view-type.view-type-list {
  background-image: url("../images/icons/view-list.svg");
  background-repeat: no-repeat;
}

.hotel-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.hotel-list .hotel-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-right: 18px;
}

.hotel-list .hotel-card:nth-child(3n) {
  margin-right: 0;
}

.hotel-card .hotel-card-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
}

.hotel-card .hotel-card-title {
  font-size: 24px;
  line-height: 28px;
}

.hotel-card .hotel-card-image {
  order: -1;
}

.hotel-card .hotel-card-naming,
.hotel-card .hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.hotel-card .hotel-rating-star {
  background-image: url("../images/icons/star.svg");
  background-repeat: no-repeat
}

.hotel-card .hotel-rating-in-numbers {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333;
}


.pagination-and-quantity {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #E6E6E6;
}

.pagination-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  min-width: 400px;
}

.pagination-list .pagination-link {
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.pagination-list .pagination-current {
  color: #000;
}

.hotel-quantity-result,
.hotel-quantity-number {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

