/*:root {
  --text-color-primary: #000;
  --text-color-secondary: #333;
}

color: var(--text-color-secondary);
*/

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.select {
  -webkit-appearance: none;
  font-family: inherit;
  cursor: pointer;
}

/*все кнопки*/
.button {
  font-family: inherit;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  padding: 12px 15px;
  cursor: pointer;
}

.button.button-small {
  padding: 9px 15px 8px;
}

.button.button-primary {
  background-color: #756157;
}

.button.button-secondary {
  background-color: #82B3D3;
}

.button.button-inactive {
  background-color: #F2F2F2;
  cursor: default;
}

.button.button-selected {
  background-color: #7DB54F;
}

.button.button-subscribe,
.button.button-search,
.button.button-pagination {
  font-size: 20px;
  line-height: 36px;
}

.button.button-navigation {
  min-width: 160px;
}

.button.button-subscribe {
  min-width: 200px;
  border-radius: 0 10px 10px 0;
}

.button.button-search {
  min-width: 574px;
}

.button.button-submit {
  min-width: 160px;
  padding: 14px 15px;
}

.button.button-reset {
  min-width: 160px;
  background-color: transparent;
  font-weight: 400;
  text-transform: inherit;
}

/*body*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page-header {
  margin-bottom: -10px;
  padding: 0 70px;
}

.navigation {
  display: flex;
  box-sizing: border-box;
}

.navigation-logo {
  width: 139px;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  text-align: center;
}

.navigation-list.navigation-actions {
  margin-left: auto;
  max-width: 300px;
  padding-top: 14px;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-weight: 700;
  font-size: 20px;
  color: inherit;
  text-decoration: none;
}

.navigation-actions .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.main-container {
  flex-grow: 1;
}

.welcome {
  background-image: url("../images/background-welcome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2b4049;
  text-align: center;
  padding-top: 51px;
}

.welcome::after {
  content: "";
  background-image: url("../images/devider-welcome.svg");
  background-repeat: no-repeat;
  display: block;
  height: 57px;
  margin-top: 20px;
}

.advantages {
  padding-top: 63px;
  text-align: center;
}

.advantages-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 31px;

}

.advantages-suggest {
  color: #333;
  margin-bottom: 90px;
}

.advantages-list,
.advantages-list-inserted {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item {
  display: flex;
  list-style: none;
  vertical-align: middle;
  width: 400px;
  min-height: 384px;
}

.advantages-item .description-container {
  width: 230px;
  margin: auto;
}

.advantages-item .advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.advantages-item .advantages-number {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 30px;
}

.advantages-item .advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333;
  margin: 0;
}

.advantages-item .advantages-list-inserted {
  background-color: #fff;
}

.advantages-item.background-primary {
  background-color: rgba(131, 179, 211);
  color: #fff;
}

.advantages-item.background-primary .advantages-description {
  color: #fff;
}

.advantages-item.background-secondary {
  background-color: rgba(131, 179, 211, 0.12);
  color: #000;
}

.advantages-item.background-secondary .advantages-description {
  color: #333;
}

.advantages-item.background-tertiary {
  background-color: rgba(131, 179, 211, 0.2);
  color: #000;
}

.advantages-item.background-tertiary .advantages-description {
  color: #333;
}

.advantages-item.background-base {
  background-color: #fff;
  color: #000;
}

.advantages-item.background-base .advantages-description {
  color: #333;
}

.advantages-item.advantages-town {
  background-image: url("../images/real-town.jpg");
  background-repeat: no-repeat;
  background-position: 400px 0;
  width: 100%;
  min-height: 768px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advantages-item.advantages-town .description-container {
  margin-left: 85px;
}

.advantages-item.advantages-bridge .description-container {
  margin-right: 85px;
}

.advantages-list-inserted .description-container::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 75px;
  height: 72px;
  margin: 0 auto 30px;
}

.advantages-item.advantages-accommodation .description-container::before {
  background-image: url("../images/icons/accommodation.svg");
}

.advantages-item.advantages-food .description-container::before {
  background-image: url("../images/icons/food.svg");
}

.advantages-item.advantages-souvenirs .description-container::before {
  background-image: url("../images/icons/souvenirs.svg");
}

.advantages-item.advantages-bridge {
  background-image: url("../images/devil-bridge.jpg");
  background-repeat: no-repeat;
  width: 100%;
}

.search {
  text-align: center;
  padding: 91px 70px 93px;
}

.search .search-interest {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.search .search-offer {
  color: #333;
  margin-bottom: 56px;
}

.subscription {
  text-align: center;
  padding: 94px 200px;
}

.subscription .subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
}

.subscription .subscription-promise {
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
}
.subscription .subscription-form {
  display: flex;
}

.subscription .subscription-field {
  padding: 0;
  border: 0;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 19px;
  padding-left: 22px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  width: 600px;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
}

.subscription.subscription-with-background {
  background-image: url("../images/background-subscription.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #7cabab;
  color: #fff;
}

.page-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 70px 30px;
}

.page-footer .footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 5px 0;
  list-style: none;
}

.page-footer .footer-social {
  width: 142px;
}

.page-footer .footer-social-item {
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.footer-social-item.footer-social-item-vk {
  background-image: url("../images/icons/social/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-item.footer-social-item-telegram {
  background-image: url("../images/icons/social/telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-item.footer-social-item-youtube {
  background-image: url("../images/icons/social/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-source {
  width: 47px;
  height: 40px;
  display: inline-block;
}

.page-footer .footer-contacts {
  padding-top: 5px;
  padding-bottom: 5px;
}

.page-footer .footer-contacts-address {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  width: 720px;
}

.page-footer .contacts-phone {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.page-footer .footer-copyright {
  width: 115px;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* CATalog */
.title-and-filters {
  background-image: url("../images/background-filter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #7cabab;
  color: #fff;
  padding: 35px 70px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  margin-bottom: 5px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs .breadcrumbs-item {
  margin-right: 26px;
}

.breadcrumbs .breadcrumbs-link {
  text-decoration: none;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 40px;
}

.catalog-filter .catalog-filter-group-left{
  display: flex;
  flex-wrap: wrap;
}
.catalog-filter .catalog-filter-group-right{
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter .catalog-filter-group {
  border: 0;
  padding: 0;
  margin: 0;
}

.catalog-filter .catalog-filter-group:not(:last-child) {
  margin-right: 70px;
}

.catalog-filter .catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter .catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
}

.catalog-filter .catalog-filter-item {
  font-size: 18px;
  line-height: 21px;
}

.catalog-filter-group.catalog-filter-group-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main-catalog {
  padding: 50px 71px 25px 73px;
}

.catalog-specify {
  display: flex;
  align-items: center;
  margin-bottom: 56px;
}

.catalog-specify .catalog-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  min-width: 338px;
  max-width: 360px;
  margin: 0;
  margin-right: 191px;
}

.catalog-specify .catalog-filter-specify-group {
  margin: 0;
  padding: 0;
  width: 290px;
  margin-right: 78px;
}

.catalog-filter-specify-group .select-control {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 14px 20px;
}

.catalog-specify .catalog-demonstration {
  margin: 0;
  padding: 0;
  width: 160px;
  height: 48px;
}


.catalog-demonstration .view-type.view-type-cards {
  background-image: url("../images/icons/view-cards.svg");
  background-repeat: no-repeat;
}

.catalog-demonstration .view-type.view-type-big-cards {
  background-image: url("../images/icons/view-big-cards.svg");
  background-repeat: no-repeat;
}

.catalog-demonstration .view-type.view-type-list {
  background-image: url("../images/icons/view-list.svg");
  background-repeat: no-repeat;
}

.hotel {
  padding-bottom: 66px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-list .hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: 211px max-content min-content auto min-content;
  align-items: end;
  gap: 16px 20px;
  padding: 20px;
}
.hotel-card .hotel-card-title-link {
  grid-column: 1/-1;
  grid-row: 2/3;
  text-decoration: none;
  color: inherit;
}

.hotel-card .hotel-card-image-link {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.hotel-card .hotel-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}

.hotel-card .hotel-card-image {
  display: block;
  object-fit: cover;
}

.hotel-card .hotel-card-naming,
.hotel-card .hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333;
}

.hotel-card .stars {
  padding-bottom: 5px;
}

.hotel-card .hotel-rating-star {
  display: inline-block;
  background-image: url("../images/icons/star.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  vertical-align: center;
}

.hotel-card .hotel-rating-in-numbers {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333;
}

.pagination-and-quantity {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  border-top: 1px solid #E6E6E6;
}

.pagination-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  min-width: 400px;
  margin: 0;
  padding: 0;
}

.pagination-list .pagination-link {
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  width: 60px;
  height: 60px;
}

.pagination-list .pagination-current {
  color: #000;
}

.hotel-quantity-result,
.hotel-quantity-number {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hotel-quantity-number {
  width: 160px;
}
